.outer-div {
  width: 100%;
  overflow: hidden;

  .inner-div {
    overflow-y: scroll;
    width: 100%;
    height: 60vh;

    .content-div {
      padding: 0 10px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
    }
  }
}
