<div>
  <p>If you have any questions or comments for me, please feel free to reach out!</p>
  <form *ngIf="!submitted" action="https://formspree.io/nathan.goodman49@gmail.com" method="POST"(ngSubmit)="submit()" #contactForm="ngForm">
    <input id="first_name" placeholder="First Name" name="first_name" type="text" [(ngModel)]="contact_form.first_name">
    <input id="last_name" placeholder="Last Name" name="last_name" type="text" [(ngModel)]="contact_form.last_name">
    <input id="email" placeholder="Email" name="email" type="email" [(ngModel)]="contact_form.email">
    <input id="subject" placeholder="Subject" name="subject" type="text" [(ngModel)]="contact_form.subject">
    <textarea id="message" placeholder="Your Message Here" name="message" type="text" [(ngModel)]="contact_form.message"></textarea>
    <input type="text" name="_gotcha" style="display:none" />
    <input type="hidden" name="_subject" value="New Message From Personal Website" />
    <button type="submit">Submit</button>
  </form>
</div>
<div *ngIf="submitted">
  <p>Your message has been submitted. Thank you!</p>
</div>
