<main>
  <navbar-block></navbar-block>
  <app-page id="top" backgroundImage="background2.jpg" backgroundCover="true" textColor="light">
    <title-block header="Nathan Goodman" subHeader="Full Stack Software Developer"></title-block>
  </app-page>
  <app-page id="AboutMe" title="About Me" backgroundImage="congruent_outline.png" backgroundCover="false" textColor="light">
    <scroll-box>
      <p>
        I am a Full Stack Software Developer with Quality Assurance experience located in Troy, New York. I was born and raised in Portland Oregon and obtained a Bachelor of Science in Computer Science at Northeastern University in Boston Massachusetts. Following college, I returned to my hometown where I married my then 7-year girlfriend and love of my life. We then moved to Troy, where she's pursuing a Ph.D. in biology at RPI.
      </p>
      <p>
        My interest in software development goes all the way back to middle school. In 6th grade, I joined my school's FLL Lego Robotics team, where I was first exposed to programming. I loved being able to use code as a tool to solve problems, and I've always been amazed at how a bit of text on a screen can be compiled and brought to life. I also picked up a book on HTML in the seventh grade and taught myself the basics of web design.
      </p>
      <p>
        Being in love with robotics and programming, I joined my high school’s FRC team as a Freshman. Although I loved getting to learn about the mechanical and electrical parts of the robot, I confirmed that my true passion was programming. I was on the programming team from Sophomore through Senior year and was the team leader during my Senior year.
      </p>
      <p>
        Robotics had taught me the basics of logic and C++, but I wanted to learn more. Unfortunately, my high school didn't offer any programming classes, so I took two introductory computer science classes at Portland Community College. These skills paved the way for my first internship during my senior year of high school at Vernier Software and Technology.
      </p>
      <p>
        At Northeastern, I grew immensely both as a programmer and as an individual. My coursework challenged me, introduced me to new perspectives, and opened my mind to new possibilities. My classmates inspired me and pushed me to become my best self. After crawling out of my shell a bit, I discovered the energy of Boston and its thriving tech community. I loved attending lectures, hackathons, and meetups all around the city. During my time at Northeastern, I had three internships, totaling around 20 months of work experience.
      </p>
      <p>
        In addition to Computer Science, I also obtained minors in History and Russian Studies.  I find learning about the past both interesting and informative. In order to truely understand something, you first have to understand how it came about. I've been speaking Russian as a second language for many years now, and hope to someday become fluent.
      </p>
      <p>
        Outside of coding, I love cooking, board games, and role-playing games. I love being around nature and when the weather is nice (or sometimes even when it's not!) I love going hiking or camping with my wife and my dog. I also love traveling and exploring new places.
      </p>
    </scroll-box>
  </app-page>
  <app-page id="ProfessionalExperience" title="Professional Experience" backgroundImage="textured_paper.png" backgroundColor="#505c8c" textColor="dark">
    <scroll-box>
      <card-block image-url="../assets/Commerce-Hub-Logo.png" title="Software Engineer In Test" date="August 2017 - January 2018" background="#708b9f">
        Performed Quality Assurance Oversights on Software Projects. Ensured that new software projects fulfilled their requirements. Assisted in development and maintenance of applications managed by the Edge Services Department (Java, Groovy, Grails, Dropwizard).
      </card-block>
      <card-block image-url="../assets/smartleaf-logo.png" title="Front-End Co-op" date="May 2016 - August 2016" background="#708b9f">
          Designed, implemented, and tested a new rails application that displays customer data in a human readable
          format (Ruby on Rails, Knockout JS).
          Improved test coverage and fixed bugs on the main web application (Ruby, Capybara).
      </card-block>
      <card-block image-url="../assets/smartleaf-logo.png" title="Back-End Co-op" date="January 2016 - April 2016" background="#708b9f">
          Refactored antiquated C code to conform to C++11 standards (C++).
          Redesigned engine logic to fix analytics errors and improve accuracy (C++).
          Added new constructs that allow for easier debugging and testing of the codebase (C++).
          Constructed web application to help analyze analytics data (JavaScript, Angular JS).
      </card-block>
      <card-block date="January 2015 - August 2015" title="IT Risk Management Co-op" image-url="../assets/eatonvance.png" background="#708b9f">
        Assisted IT department with various development needs. Created several Windows Server Applications (C#) and constructed a framework for regression testing in-house applications using Selenium (Java).
      </card-block>
      <card-block date="May 2013 - August 2013" title="Development Intern" image-url="../assets/opensesame.png" background="#708b9f">
        Programmed dashboards (C#) and constructed prototype for new web app (jQuery, PHP, JSON). Coordinated with marketing team, attended development meetings, and met regular deadlines.
      </card-block>
      <card-block date="October 2011 - June 2012" title="Robotics Intern" image-url="../assets/vernier.png" background="#708b9f">
        Built plug-in to make Vernier Sensors compatible with VEX Cortex (C, C++). Wrote demo program using magnetic field sensor that was presented at a local conference.
      </card-block>
    </scroll-box>
  </app-page>
  <app-page id="Skills" title="Software Development Skills" backgroundImage="brown-brick.jpg" textColor="dark">
    <table>
      <thead>
        <th>Category</th>
        <th>Specifics</th>
      </thead>
      <tbody>
          <tr>
              <td>Programming Languages</td>
              <td>Java, C++, C#, Groovy, JavaScript, Typescript, Coffeescript, Python, Ruby, C, Racket</td>
          </tr>
          <tr>
              <td>Web Frameworks</td>
              <td>Ruby on Rails, Grails, Dropwizard, Angular JS (1 & 2), Spring MVC, Knockout JS, Django</td>
          </tr>
          <tr>
              <td>Database</td>
              <td>MySQL, Oracle SQL, JDBC, Active Record (rails), Hibernate ORM</td>
          </tr>
          <tr>
              <td>Operating Systems</td>
              <td>Linux (Ubuntu, Debian, Fedora), Windows (XP – 8)</td>
          </tr>
          <tr>
               <td>Testing</td>
               <td>JUnit, Selenium, Geb, Capybara</td>
          </tr>
      </tbody>
    </table>
  </app-page>
  <app-page id="Projects" title="Personal Projects" backgroundColor="#666" backgroundImage="binary-background.jpg" textColor="light">
    <scroll-box>
      <card-block title="NOTE" background="#9ca3bbF0">Many of these are hackathon projects and as such, their status and quality may vary greatly.</card-block>
      <card-block title="CollectTheFruit" background="#333c33F0">Mario style game in which a player collects fruit in the sky, and avoids the junk food.</card-block>
      <card-block title="Dolfin" background="#333c33F0">Casual Learning Application.</card-block>
      <card-block title="Chunkr" background="#333c33F0">Web Application to let students better collaberate with each other while writing essays.</card-block>
      <card-block title="Northeastern Schedule Crawler" background="#333c33F0">Unable to obtain northeastern course data in an acceptable format, I wrote a webcrawler in Selenium that logs into the Northeastern student panel and scrapes off all of the course data.</card-block>
      <card-block title="Northeastern Course Schedulizer" background="#333c33F0">Unimpressed with Northeastern's current class registration system, my team build our own course registration application.</card-block>
      <card-block title="Hack Connection" background="#333c33F0">Inspired by the caotic team-meaking process at HackBeanpot, we designed an application that simplifies the team making process at hackathons.</card-block>
      <card-block title="Snow Ranger" background="#333c33F0">Uses crowdsourcing to map the accessibility of sidewalks after a snowstorm.</card-block>
      <card-block title="Idontgiveuh" background="#333c33F0">The world's dumbest recomendation engine! Ask it for advice on a number of topics and it will randomly and hilariously tell you what to do.</card-block>
      <card-block title="Aviato" background="#333c33F0">Taken from the HBO Show <i>Silicon Valley</i>, it's what we imagine Aviato to be. In this case, it's an application that allows "desperate people" to pay for "attractive people" to sit next to them on airplanes, and "attractive people" to get free airline tickets.</card-block>
      <card-block title="Lure Books" background="#333c33F0">Allows users to listen to Audible Audiobooks on the Microsoft Hololens</card-block>
      <card-block title="Nejapp" background="#333c33F0">Desktop application to help bank tellers better communicate with their customers</card-block>
      <card-block title="Personal Website" background="#333c33F0">This website! It's build from scratch using angular 2.</card-block>
    </scroll-box>
  </app-page>
  <app-page id="Courses" title="College Coursework" backgroundImage="clouds.jpg" backgroundCover="true">
    <scroll-box>
      <card-block background="#157a15F0" date="Spring 2013" title="Discrete Structures"></card-block>
      <card-block background="#157a15F0" date="Spring 2013" title="Fundamentals of Computer Sci 1"></card-block>
      <card-block background="#157a15F0" date="Spring 2013" title="College Writing"></card-block>
      <card-block background="#157a15F0" date="Spring 2013" title="Elementary Russian 1"></card-block>
      <card-block background="#157a15F0" date="Fall 2013" title="Fundamentals of Computer Sci 2"></card-block>
      <card-block background="#157a15F0" date="Fall 2013" title="Logic and Computation"></card-block>
      <card-block background="#157a15F0" date="Fall 2013" title="Linguistic Analysis"></card-block>
      <card-block background="#157a15F0" date="Fall 2013" title="Calculus 2 for Sci/Engr"></card-block>
      <card-block background="#157a15F0" date="Spring 2014" title="Object-Oriented Design"></card-block>
      <card-block background="#157a15F0" date="Spring 2014" title="Linear Algebra"></card-block>
      <card-block background="#157a15F0" date="Spring 2014" title="Probability and Statistics"></card-block>
      <card-block background="#157a15F0" date="Spring 2014" title="Elementary Russian 2"></card-block>
      <card-block background="#157a15F0" date="Summer 2014" title="Algorithms & Data"></card-block>
      <card-block background="#157a15F0" date="Summer 2014" title="Northeastern Dialog of Civilization: Russia"></card-block>
      <card-block background="#157a15F0" date="Fall 2014" title="Database Design"></card-block>
      <card-block background="#157a15F0" date="Fall 2014" title="Computer Systems"></card-block>
      <card-block background="#157a15F0" date="Fall 2014" title="Intro to Russian Civilization"></card-block>
      <card-block background="#157a15F0" date="Fall 2014" title="Intermediate Russian 2"></card-block>
      <card-block background="#157a15F0" date="Summer 2015" title="Advanced Writing in Tech Prof"></card-block>
      <card-block background="#157a15F0" date="Summer 2015" title="Modern Middle East"></card-block>
      <card-block background="#157a15F0" date="Fall 2015" title="Networks & Distributed Systems"></card-block>
      <card-block background="#157a15F0" date="Fall 2015" title="Software Development"></card-block>
      <card-block background="#157a15F0" date="Fall 2015" title="Human Computer Interaction"></card-block>
      <card-block background="#157a15F0" date="Fall 2015" title="Special Topics in Russian"></card-block>
      <card-block background="#157a15F0" date="Fall 2016" title="Theory of Computation"></card-block>
      <card-block background="#157a15F0" date="Fall 2016" title="Programming Languages"></card-block>
      <card-block background="#157a15F0" date="Fall 2016" title="Network Security"></card-block>
      <card-block background="#157a15F0" date="Fall 2016" title="Europ Jewish History 1750-1945"></card-block>
      <card-block background="#157a15F0" date="Spring 2017" title="Embedded Des Enabling Robotics"></card-block>
      <card-block background="#157a15F0" date="Spring 2017" title="Technology and Human Values"></card-block>
    </scroll-box>
  </app-page>
  <app-page id="Contact" title="Contact Form" backgroundColor="#157a15" textColor="dark">
    <contact-form-block></contact-form-block>
  </app-page>
</main>
